@keyframes enlarge {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.05)
    }
}

.cardSection {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    margin: 0px 20px 20px 20px;
    gap: 20px;
}

.nameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid black;
    border-radius: 5px;
    background-color: #817C69;
}

.nameCard>img {
    width: 90%;
    border-radius: 14px;
    margin-top: 10px;
}

.nameCard>h1 {
    font-size: 30px;
    margin: 10px
}

.nameCard:hover {
    box-shadow:0px 0px 8px blue, 0px 2px 8px red;
    animation: enlarge 0.5s ease-in-out both;
}