.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
}

body {
    background-color: #84766F;
    color: black;
    
}